:root {
  --lg-up-width: 900px;

  --color--primary: #a31d25;
  --color--primary-bg: #a30018;
  --color--secondary: #000010;
  --color--secondary-bg: #000010;
  --color--default: #fff;
  --color--default-bg: #fff;
}
